{% extends "base.html" %}

{% block start %}




<div class="container mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
      <h1>Article </h1>
      {% if messages %}
        <div class = "alert alert-primary" role="alert">
            {% for message in messages %}
            {{message}}
            {% endfor %}
         </div>
<ul class="messages">
    <li{% if message.tags %} class = "{{message.tags}}"{% endif %}>{{message}}</li>
</ul>
       
{% endif %}

        <hr>

        <div class="mb-3">

          <label for="exampleInputEmail1" class="form-label">Article Title      :</label>

          <td>{{articles.articleTitle}}</td>

        </div>

        <div class="mb-3">

          <label for="exampleInputPassword1" class="form-label">Article Subtitle      :</label>

          <td>{{articles.articleSubTitle}}</td>

        </div>
        <div class="mb-3">

            <label for="exampleInputPassword1" class="form-label">Article Description      :</label>
  
            <td>{{articles.articleDescription}}</td>
  
          </div>

        <div class="mb-3">

            <label for="exampleInputPassword1"  class="form-label">Article Thumbnail      :</label>

            <td> <img src="/media/{{articles.articleThumbnail}}" style="height:200px"> </td>

          </div>

       
        
        
       <!--<a href="/individual-article/{{articles.id}}/" class="btn btn-success" name="aorr" value="Accept">Accept</a>
<hr>
        <a href="/publisher-article/" class="btn btn-danger" name="aorr" value="Reject" >Reject</a>
        
--> 

       

        <button type="submit" class="btn btn-success" name="status" value="Published">Publish</button>
        <hr>
        <button type="submit" class="btn btn-danger" name="status" value="Rejected">Reject</button>




      </form>

   

 

     

</div>
{% endblock %} 