{% extends "base.html" %}
{% block start %}

{{request.user.first_name}}


<div class="container mt-5">
<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Article Title </th>
        <th scope="col">Article SubTitle</th>
        <th scope="col">Article Description</th>
        <th scope="col">Article Status </th>
        <th scope="col">Thumbnail</th>
        <th scope="col"> Actions</th>

      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{article.articleTitle}}</td>

        <td>{{article.articleSubTitle|truncatechars:20}}</td>
        <td>{{article.articleDescription|truncatechars:20}}</td>
        <!-- <td>{{a.articleThumbnail}}</td> -->
        
        
        <td>{{article.articlestatus}}</td>

        <td> <img src="/media/{{article.articleThumbnail}}" style="height:200px"> </td>
        <td> 
          
          <a href="{%url 'individualarticle' article.id %}" class = "btn btn-danger m-2">Preview</a>
          <!--<a href="/individualarticle/{{articles.id}}/" class = "btn btn-danger m-2">Preview</a>-->
          <!-- <a href="/update-recepies/{{recepie.id}}/" class = "btn btn-success">Update </a> -->
        </td>
        
      </tr>

      {% endfor %}
      
    </tbody>
  </table>
  <a href="/" class="btn btn-success">Back</a>
</div>
  {% endblock %}
